<mat-card>
  <mat-card-content>
    <mat-list role="list" *ngFor="let question of questions">
      <mat-list-item class="clickLink" (click)="api.selectQuestion(question)" role="listitem">{{ question.text }}</mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>