<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="question.id">Edit Question</span>
      <span *ngIf="!question.id">New Question</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <mat-form-field class="fullWidth">
        <input matInput [(ngModel)]="question.text" placeholder="Question" name="question">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput [(ngModel)]="question.correctAnswer" placeholder="Correct Answer" name="correctAnswer">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput [(ngModel)]="question.answer1" placeholder="Worng Answer" name="answer1">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput [(ngModel)]="question.answer2" placeholder="Worng Answer" name="answer2">
      </mat-form-field>
      <mat-form-field class="fullWidth">
        <input matInput [(ngModel)]="question.answer3" placeholder="Worng Answer" name="answer3">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="question.id" (click)="api.putQuestion(question)">Edit</button>
    <button mat-button *ngIf="question.id" (click)="question = { }">New</button>
    <button mat-button *ngIf="!question.id" (click)="post(question)">Post</button>    
        
  </mat-card-actions>
</mat-card>
<questions></questions>