<mat-card>
  <mat-card-content>
    <mat-list role="list" *ngFor="let quiz of quizzes">
      <!-- <mat-list-item class="clickLink" (click)="api.selectQuiz(question)" role="listitem">{{ quiz.title }}</mat-list-item> -->
      <mat-list-item class="clickLink" [routerLink]="['/playQuiz', quiz.id]" role="listitem">{{ quiz.title }}</mat-list-item>      
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
