<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span *ngIf="quiz.id">Edit Quiz</span>
      <span *ngIf="!quiz.id">New Quiz</span>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <mat-form-field class="fullWidth">
        <input matInput [(ngModel)]="quiz.title" placeholder="Quiz Title" name="title">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="quiz.id" (click)="api.putQuiz(quiz)">Edit</button>
    <button mat-button *ngIf="quiz.id" (click)="quiz={ }">New</button>
    <button mat-button *ngIf="quiz.id" [routerLink]="['/question', quiz.id]">Edit Question</button>        
    <button mat-button *ngIf="!quiz.id" (click)="api.postQuiz(quiz)">Post</button>    
  </mat-card-actions>
</mat-card>
