<mat-card>
  <mat-card-content>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let question of questions; let i = index" 
        [expanded]="step === i" (opened)="setStep(i)" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ question.text }}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-radio-group [(ngModel)]="question.selectedAnswer">
            <mat-radio-button class="fullWidth" *ngFor="let answer of question.answers" [value]="answer">
              <span *ngIf="answer">{{ answer }}</span>
            </mat-radio-button>
          </mat-radio-group>
        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-card-content>
  <mat-card-actions>
      <mat-action-row>
          <button mat-button color="primary" (click)="finish()">Finish</button>
      </mat-action-row>
  </mat-card-actions>
</mat-card>
